In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('main_data.csv')

In [3]:
df.head()

,Unnamed: 0,STATE,DISTRICT,TEH_NAME,BLOCK_NAME,LAT,LON,SITE_NAME,SITE_TYPE,WLCODE,YEAR_OBS,MONSOON,POMRB,POMKH,PREMON
0,0,AN,South Andaman,Port Blair,South Andaman,11.611111,92.742500,Brichganj,Dug Well,W23772,2018,NaN,NaN,1.30,1.92
1,1,AN,South Andaman,Port Blair,South Andaman,11.612778,92.667222,Dhannikhari,Dug Well,W23773,2018,NaN,NaN,0.69,0.14
2,2,AN,South Andaman,Port Blair,South Andaman,11.618056,92.710556,Garachamra,Dug Well,W23774,2018,NaN,NaN,0.73,3.25
3,3,AN,South Andaman,Port Blair,South Andaman,11.634167,92.722778,Dollyganj Chawk,Dug Well,W23776,2018,NaN,NaN,0.88,1.69
4,4,AN,South Andaman,Port Blair,South Andaman,11.635556,92.735278,Brookshabad,Dug Well,W23777,2018,NaN,NaN,0.90,1.05

In [4]:
df.columns

Index(['Unnamed: 0', 'STATE', 'DISTRICT', 'TEH_NAME', 'BLOCK_NAME', 'LAT',
       'LON', 'SITE_NAME', 'SITE_TYPE', 'WLCODE', 'YEAR_OBS', 'MONSOON',
       'POMRB', 'POMKH', 'PREMON'],
      dtype='object')

In [6]:
df = df.loc[:,['STATE', 'DISTRICT', 'BLOCK_NAME', 'LAT', 'LON', 'YEAR_OBS', 'MONSOON', 'POMRB', 'POMKH', 'PREMON']]

In [9]:
df

,STATE,DISTRICT,BLOCK_NAME,LAT,LON,YEAR_OBS,MONSOON,POMRB,POMKH,PREMON
0,AN,South Andaman,South Andaman,11.611111,92.742500,2018,NaN,NaN,1.30,1.92
1,AN,South Andaman,South Andaman,11.612778,92.667222,2018,NaN,NaN,0.69,0.14
2,AN,South Andaman,South Andaman,11.618056,92.710556,2018,NaN,NaN,0.73,3.25
3,AN,South Andaman,South Andaman,11.634167,92.722778,2018,NaN,NaN,0.88,1.69
4,AN,South Andaman,South Andaman,11.635556,92.735278,2018,NaN,NaN,0.90,1.05
...,...,...,...,...,...,...,...,...,...,...
338890,WB,Uttar Dinajpur,Goalpokhor-i,25.958333,88.066667,1996,2.83,3.55,3.53,6.03
338891,WB,Uttar Dinajpur,Chopra,26.358333,88.329167,1996,3.05,4.46,4.27,4.81
338892,WB,Uttar Dinajpur,Chopra,26.402778,88.341667,1996,NaN,3.10,3.75,9.74
338893,WB,Uttar Dinajpur,Raiganj,25.750000,88.172222,1996,3.07,2.90,3.17,5.40
338894,WB,Uttar Dinajpur,Islampur,26.183333,88.109722,1996,1.61,2.95,2.61,4.29

In [11]:
df = pd.melt(df, id_vars=['STATE', 'DISTRICT', 'BLOCK_NAME', 'LAT', 'LON', 'YEAR_OBS'], value_vars=['MONSOON', 'POMRB', 'POMKH', 'PREMON'], value_name='Depth', var_name='Season')

In [48]:
df

,STATE,DISTRICT,BLOCK_NAME,LAT,LON,YEAR_OBS,Season,Depth
0,AN,South Andaman,South Andaman,11.611111,92.742500,2018,MONSOON,NaN
1,AN,South Andaman,South Andaman,11.612778,92.667222,2018,MONSOON,NaN
2,AN,South Andaman,South Andaman,11.618056,92.710556,2018,MONSOON,NaN
3,AN,South Andaman,South Andaman,11.634167,92.722778,2018,MONSOON,NaN
4,AN,South Andaman,South Andaman,11.635556,92.735278,2018,MONSOON,NaN
...,...,...,...,...,...,...,...,...
1355575,WB,Uttar Dinajpur,Goalpokhor-i,25.958333,88.066667,1996,PREMON,6.03
1355576,WB,Uttar Dinajpur,Chopra,26.358333,88.329167,1996,PREMON,4.81
1355577,WB,Uttar Dinajpur,Chopra,26.402778,88.341667,1996,PREMON,9.74
1355578,WB,Uttar Dinajpur,Raiganj,25.750000,88.172222,1996,PREMON,5.40
1355579,WB,Uttar Dinajpur,Islampur,26.183333,88.109722,1996,PREMON,4.29

In [98]:
state2dist = dict()
state_list = set(df.STATE)
for state in state_list:
    state2dist[state] = list(set(df[df.STATE == state].DISTRICT))
state2dist

{'CH': ['Chandigarh'],
 'TG': ['Nizamabad',
  'Khammam',
  'Hyderabad',
  'Nalgonda',
  'Warangal',
  'Rangareddy',
  'Medak',
  'Mahbubnagar',
  'Karimnagar',
  'Adilabad'],
 'GJ': ['The Dangs',
  'Dohad',
  'Bhavnagar',
  'Sabar Kantha',
  'Jamnagar',
  'Surat',
  'Valsad',
  'Banas Kantha',
  'Tapi',
  'Rajkot',
  'Patan',
  'Surendranagar',
  'Panch Mahals',
  'Vadodara',
  'Gandhinagar',
  'Narmada',
  'Navsari',
  'Porbandar',
  'Ahmadabad',
  'Anand',
  'Junagadh',
  'Kheda',
  'Bharuch',
  'Kachchh',
  'Amreli',
  'Mahesana'],
 'TR': ['North Tripura', 'Dhalai', 'South Tripura', 'West Tripura'],
 'PY': ['Puducherry', 'Karaikal', 'Yanam'],
 'ML': ['South Garo Hills',
  'East Khasi Hills',
  'West Garo Hills',
  'Ri Bhoi',
  'Jaintia Hills',
  'East Garo Hills',
  'West Khasi Hills'],
 'MS': ['Osmanabad',
  'Bhandara',
  'Akola',
  'Amravati',
  'Ahmadnagar',
  'Wardha',
  'Jalgaon',
  'Satara',
  'Thane',
  'Chandrapur',
  'Nashik',
  'Mumbai Suburban',
  'Mumbai',
  'Sangli',
  'Nagpur',
  'Aurangabad',
  'Dhule',
  'Kolhapur',
  'Yavatmal',
  'Garhchiroli',
  'Raigarh',
  'Jalna',
  'Hingoli',
  'Solapur',
  'Pune',
  'Bid',
  'Latur',
  'Parbhani',
  'Washim',
  'Nandurbar',
  'Buldana',
  'Gondiya',
  'Nanded',
  'Sindhudurg',
  'Ratnagiri'],
 'UK': ['Udham Singh Nagar', 'Dehradun', 'Hardwar', 'Champawat', 'Nainital'],
 'UP': ['Ghaziabad',
  'Saharanpur',
  'Bahraich',
  'Kheri',
  'Azamgarh',
  'Bara Banki',
  'Agra',
  'Gautam Buddha Nagar',
  'Auraiya',
  'Etah',
  'Mirzapur',
  'Kushinagar',
  'Chitrakoot',
  'Balrampur',
  'Jyotiba Phule Nagar',
  'Faizabad',
  'Mahoba',
  'Bulandshahr',
  'Mau',
  'Jalaun',
  'Aligarh',
  'Sant Ravi Das Nagar(bhadohi)',
  'Kaushambi',
  'Allahabad',
  'Basti',
  'Budaun',
  'Kansiram Nagar',
  'Kanpur Dehat',
  'Jhansi',
  'Unnao',
  'Etawah',
  'Jaunpur',
  'Ballia',
  'Kanpur Nagar',
  'Lalitpur',
  'Moradabad',
  'Shrawasti',
  'Shahjahanpur',
  'Meerut',
  'Gonda',
  'Rae Bareli',
  'Gorakhpur',
  'Sitapur',
  'Ghazipur',
  'Mahamaya Nagar',
  'Sonbhadra',
  'Baghpat',
  'Sant Kabir Nagar',
  'Lucknow',
  'Deoria',
  'Pilibhit',
  'Banda',
  'Mainpuri',
  'Sultanpur',
  'Firozabad',
  'Farrukhabad',
  'Pratapgarh',
  'Varanasi',
  'Mathura',
  'Hardoi',
  'Rampur',
  'Bareilly',
  'Kannauj',
  'Maharajganj',
  'Siddharth Nagar',
  'Hamirpur',
  'Fatehpur',
  'Ambedkar Nagar',
  'Bijnor',
  'Muzaffarnagar',
  'Chandauli'],
 'CG': ['Mahasamund',
  'Surguja',
  'Dakshin Bastar Dantewada',
  'Narayanpur',
  'Durg',
  'Janjgir-champa',
  'Raigarh',
  'Raipur',
  'Uttar Bastar Kanker',
  'Koriya',
  'Rajnandgaon',
  'Bastar',
  'Jashpur',
  'Bijapur',
  'Korba',
  'Dhamtari',
  'Kabeerdham',
  'Bilaspur'],
 'JK': ['Reasi',
  'Badgam',
  'Udhampur',
  'Bandipore',
  'Data Not Available',
  'Pulwama',
  'Rajouri',
  'Baramula',
  'Kupwara',
  'Samba',
  'Leh (ladakh)',
  'Srinagar',
  'Anantnag',
  'Kathua',
  'Jammu'],
 'HP': ['Kullu', 'Mandi', 'Solan', 'Hamirpur', 'Sirmaur', 'Kangra', 'Una'],
 'AN': ['South Andaman'],
 'AP': ['Guntur',
  'Chittoor',
  'Prakasam',
  'Srikakulam',
  'Visakhapatnam',
  'East Godavari',
  'Y.S.R.',
  'Kurnool',
  'Vizianagaram',
  'Anantapur',
  'Sri Potti Sriramulu Nellore',
  'Krishna',
  'West Godavari'],
 'OD': ['Jajapur',
  'Balangir',
  'Rayagada',
  'Debagarh',
  'Sambalpur',
  'Kendujhar',
  'Bargarh',
  'Kandhamal',
  'Bauda',
  'Koraput',
  'Jagatsinghapur',
  'Anugul',
  'Subarnapur',
  'Nayagarh',
  'Sundargarh',
  'Puri',
  'Kalahandi',
  'Baleshwar',
  'Nuapada',
  'Gajapati',
  'Khordha',
  'Mayurbhanj',
  'Nabarangapur',
  'Dhenkanal',
  'Cuttack',
  'Ganjam',
  'Bhadrak',
  'Malkangiri',
  'Jharsuguda',
  'Kendrapara'],
 'AS': ['Marigaon',
  'Goalpara',
  'Kamrup',
  'Kokrajhar',
  'Barpeta',
  'Sivasagar',
  'Baksa',
  'Udalguri',
  'Tinsukia',
  'Lakhimpur',
  'Cachar',
  'Dhubri',
  'Hailakandi',
  'Dhemaji',
  'Nagaon',
  'Karimganj',
  'Darrang',
  'Karbi Anglong',
  'Jorhat',
  'Nalbari',
  'Chirang',
  'Kamrup Metropolitan',
  'Golaghat',
  'Sonitpur',
  'Bongaigaon',
  'Dibrugarh'],
 'NL': ['Wokha', 'Kohima', 'Mokokchung', 'Mon', 'Dimapur'],
 'JH': ['Saraikela-kharsawan',
  'Ramgarh',
  'Simdega',
  'Ranchi',
  'Jamtara',
  'Chatra',
  'Latehar',
  'Sahibganj',
  'Palamu',
  'Kodarma',
  'Pashchimi Singhbhum',
  'Dhanbad',
  'Lohardaga',
  'Deoghar',
  'Garhwa',
  'Bokaro',
  'Dumka',
  'Purbi Singhbhum',
  'Khunti',
  'Godda',
  'Giridih',
  'Gumla',
  'Pakur',
  'Hazaribagh'],
 'HR': ['Palwal',
  'Sonipat',
  'Jind',
  'Hisar',
  'Panchkula',
  'Ambala',
  'Mewat',
  'Yamunanagar',
  'Gurgaon',
  'Fatehabad',
  'Kaithal',
  'Faridabad',
  'Panipat',
  'Sirsa',
  'Kurukshetra',
  'Bhiwani',
  'Jhajjar',
  'Rohtak',
  'Mahendragarh',
  'Rewari',
  'Karnal'],
 'GA': ['North Goa', 'South Goa'],
 'PB': ['Amritsar',
  'Shahid Bhagat Singh Nagar',
  'Bathinda',
  'Muktsar',
  'Faridkot',
  'Hoshiarpur',
  'Mansa',
  'Sahibzada Ajit Singh Nagar',
  'Patiala',
  'Gurdaspur',
  'Barnala',
  'Rupnagar',
  'Fatehgarh Sahib',
  'Sangrur',
  'Jalandhar',
  'Ludhiana',
  'Kapurthala',
  'Moga',
  'Tarn Taran',
  'Firozpur'],
 'MP': ['Gwalior',
  'Damoh',
  'Morena',
  'Dewas',
  'Bhopal',
  'Sehore',
  'Ujjain',
  'Bhind',
  'Panna',
  'Balaghat',
  'Indore',
  'Anuppur',
  'Neemuch',
  'Raisen',
  'Datia',
  'Shahdol',
  'Mandsaur',
  'Sagar',
  'Seoni',
  'Shivpuri',
  'Umaria',
  'Betul',
  'Sidhi',
  'Vidisha',
  'Jhabua',
  'Hoshangabad',
  'Dhar',
  'Shajapur',
  'Satna',
  'Singrauli',
  'Ashoknagar',
  'Rajgarh',
  'Chhindwara',
  'Rewa',
  'Katni',
  'Tikamgarh',
  'East Nimar',
  'Dindori',
  'Sheopur',
  'Jabalpur',
  'Chhatarpur',
  'Alirajpur',
  'Harda',
  'Burhanpur',
  'Mandla',
  'Guna',
  'Ratlam',
  'Narsimhapur',
  'West Nimar',
  'Barwani'],
 'BR': ['Katihar',
  'Arwal',
  'Begusarai',
  'Nawada',
  'Sitamarhi',
  'Gaya',
  'Siwan',
  'Sheohar',
  'Darbhanga',
  'Banka',
  'Munger',
  'Vaishali',
  'Aurangabad',
  'Lakhisarai',
  'Pashchim Champaran',
  'Supaul',
  'Patna',
  'Saran (chhapra)',
  'Araria',
  'Purba Champaran',
  'Gopalganj',
  'Nalanda',
  'Samastipur',
  'Muzaffarpur',
  'Jamui',
  'Bhagalpur',
  'Kaimur (bhabua)',
  'Kishanganj',
  'Bhojpur',
  'Madhubani',
  'Rohtas',
  'Purnia',
  'Jehanabad',
  'Buxar',
  'Madhepura',
  'Sheikhpura',
  'Saharsa',
  'Khagaria'],
 'AR': ['Tirap', 'Papum Pare', 'East Siang', 'Lohit', 'Changlang'],
 'DD': ['Diu', 'Daman'],
 'KA': ['Bangalore Rural',
  'Kodagu',
  'Ramanagara',
  'Dharwad',
  'Chikmagalur',
  'Bidar',
  'Haveri',
  'Bagalkot',
  'Belgaum',
  'Mandya',
  'Chikkaballapura',
  'Bangalore',
  'Davanagere',
  'Dakshina Kannada',
  'Mysore',
  'Kolar',
  'Udupi',
  'Gulbarga',
  'Tumkur',
  'Yadgir',
  'Bellary',
  'Hassan',
  'Uttara Kannada',
  'Chamrajnagar',
  'Gadag',
  'Shimoga',
  'Chitradurga',
  'Raichur',
  'Bijapur',
  'Koppal'],
 'KL': ['Malappuram',
  'Kannur',
  'Pathanamthitta',
  'Thrissur',
  'Kottayam',
  'Wayanad',
  'Alappuzha',
  'Palakkad',
  'Kollam',
  'Idukki',
  'Kozhikode',
  'Thiruvananthapuram',
  'Ernakulam',
  'Kasaragod'],
 'MN': ['Thoubal', 'Senapati', 'Imphal East', 'Bishnupur'],
 'TN': ['Chennai',
  'Krishnagiri',
  'Sivaganga',
  'Thanjavur',
  'The Nilgiris',
  'Theni',
  'Tirunelveli',
  'Kanniyakumari',
  'Thoothukkudi',
  'Nagappattinam',
  'Erode',
  'Perambalur',
  'Coimbatore',
  'Thiruvallur',
  'Tiruchirappalli',
  'Salem',
  'Thiruvarur',
  'Dharmapuri',
  'Madurai',
  'Ariyalur',
  'Viluppuram',
  'Vellore',
  'Namakkal',
  'Cuddalore',
  'Tiruvannamalai',
  'Ramanathapuram',
  'Kancheepuram',
  'Karur',
  'Dindigul',
  'Pudukkottai',
  'Tiruppur',
  'Virudunagar'],
 'WB': ['Purba Medinipur',
  'Birbhum',
  'Kolkata',
  'Pashchim Medinipur',
  'Koch Bihar',
  'Darjiling',
  'Bankura',
  'Uttar Dinajpur',
  'Haora',
  'Jalpaiguri',
  'Barddhaman',
  'South 24 Parganas',
  'North 24 Parganas',
  'Puruliya',
  'Maldah',
  'Dakshin Dinajpur',
  'Hugli',
  'Nadia',
  'Murshidabad'],
 'DL': ['Central',
  'South West',
  'New Delhi',
  'North',
  'West',
  'South',
  'East',
  'North West',
  'North East'],
 'RJ': ['Barmer',
  'Chittaurgarh',
  'Bundi',
  'Dausa',
  'Jodhpur',
  'Kota',
  'Tonk',
  'Pali',
  'Rajsamand',
  'Banswara',
  'Jaipur',
  'Sikar',
  'Nagaur',
  'Bikaner',
  'Jaisalmer',
  'Ajmer',
  'Sirohi',
  'Alwar',
  'Dhaulpur',
  'Udaipur',
  'Bharatpur',
  'Jalor',
  'Churu',
  'Pratapgarh',
  'Hanumangarh',
  'Sawai Madhopur',
  'Dungarpur',
  'Karauli',
  'Baran',
  'Ganganagar',
  'Jhalawar',
  'Bhilwara',
  'Jhunjhunun']}

In [100]:
state_list = ['AP', 'AR', 'AS', 'BR','CG', 'CH', 'DD', 'DL', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'ML', 'MN', 'MP', 'MS', 'NL', 'OD', 'PB', 'PY', 'RJ', 'TG', 'TN', 'TR', 'UK', 'UP', 'WB']

In [156]:
%time
data = pd.DataFrame()
for state in state_list:
    districtData = pd.DataFrame()
    temp = df[df.STATE == state]
    districtNameList = state2dist[state]
    for district in districtNameList:
        try:
            singleDistrictData = pd.DataFrame()
            temp = df[df.DISTRICT == district]
            districtCsvData = pd.read_csv(f'../BLOCK-ALGO-DONE/CSV - Copy/BLOCKWISE_{state}_{district}.csv')
            blockNameList = []
            for col in districtCsvData.columns:
                if col not in ['Date', 'Season', '_', 'Unnamed'] and '_' not in col:
                    blockNameList.append(col)
            for block in blockNameList:
                singleBlockData = pd.DataFrame()
                temp = df[df.BLOCK_NAME == block]
                for i in range(1996,2019):
                    temp = df[df.YEAR_OBS == i]
                    singleBlockYearData = pd.DataFrame()
                    singleBlockYearData['STATE']=[state for j in range(4)]
                    singleBlockYearData['DISTRICT']=[district for j in range(4)]
                    singleBlockYearData['BLOCK_NAME']=[block for j in range(4)]
                    try:
                        lat = sum(set(temp.LAT))/len(set(temp.LAT))
                        lon = sum(set(temp.LON))/len(set(temp.LON))
                    except:
                        lat = np.nan
                        lon = np.nan
                    singleBlockYearData['LAT'] = [lat for j in range(4)]
                    singleBlockYearData['LON'] = [lon for j in range(4)]
                    singleBlockYearData['YEAR_OBS'] = [i for j in range(4)]
                    singleBlockYearData['Season'] = ['POMRB', 'PREMON', 'MONSOON', 'POMKH']
                    singleBlockData = singleBlockData.append(singleBlockYearData)
                singleBlockData['Depth'] = districtCsvData[block]
                for algo in ['Trend', 'SMA', 'EWMA', 'DES', 'TES', 'ARIMA']:
                    singleBlockData[f'Depth_{algo}'] = list(districtCsvData[f'{block}_{algo}'])
                singleDistrictData = singleDistrictData.append(singleBlockData)
            districtData = districtData.append(singleDistrictData)
        except:
            pass
    data = data.append(districtData)

Wall time: 0 ns

In [ ]:
data.to_csv('KeplerData.csv')

In [152]:
lat

20.69982219516578

In [157]:
data

,STATE,DISTRICT,BLOCK_NAME,LAT,LON,YEAR_OBS,Season,Depth,Depth_Trend,Depth_SMA,Depth_EWMA,Depth_DES,Depth_TES,Depth_ARIMA
0,DL,Central,Pahar Ganj,21.548964,80.025318,1996,POMRB,1.010000,NaN,NaN,1.010000,1.501960,1.003333,0.000000
1,DL,Central,Pahar Ganj,21.548964,80.025318,1996,PREMON,1.327143,NaN,NaN,1.136857,1.760258,1.323203,0.000000
2,DL,Central,Pahar Ganj,21.548964,80.025318,1996,MONSOON,0.950000,1.063452,NaN,1.062114,1.606135,0.969169,0.000000
3,DL,Central,Pahar Ganj,21.548964,80.025318,1996,POMKH,0.966667,1.063452,1.063452,1.023935,1.406288,0.966535,0.000000
0,DL,Central,Pahar Ganj,21.574978,79.980105,1997,POMRB,1.010000,1.063452,1.063452,1.018361,1.238638,1.001533,0.692412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,DL,North East,Seema Puri,20.794179,79.744643,2017,POMKH,10.860000,12.581250,12.581250,11.761823,11.935299,11.534899,11.410000
0,DL,North East,Seema Puri,20.699822,79.727668,2018,POMRB,12.895000,12.581250,12.581250,13.729094,13.382529,16.682995,16.680000
1,DL,North East,Seema Puri,20.699822,79.727668,2018,PREMON,11.500000,12.581250,12.581250,12.837456,12.953845,11.584561,11.500000
2,DL,North East,Seema Puri,20.699822,79.727668,2018,MONSOON,11.170000,NaN,12.581250,11.996474,12.286487,10.821088,10.735000
3,DL,North East,Seema Puri,20.699822,79.727668,2018,POMKH,10.860000,NaN,12.581250,11.761884,NaN,11.498574,11.410000

In [154]:
data.to_csv('Test.csv')

In [133]:
len(set(df[df.STATE == 'DL'].BLOCK_NAME)

26

In [134]:
len(set(data[data.STATE == 'DL'].BLOCK_NAME))

26

In [130]:
set(data.BLOCK_NAME)

{'Seelam Pur', 'Seema Puri', 'Shahdara'}

In [141]:
from collections import Counter
Counter(data.BLOCK_NAME)

Counter({'Pahar Ganj': 92,
         'Darya Ganj': 276,
         'Delhi Cantonment': 184,
         'Vasant Vihar': 184,
         'Hauz Khas': 184,
         'Najafgarh': 92,
         'Parliament Street': 92,
         'Chanakya Puri': 92,
         'Connaught Place': 92,
         'Saraswati Vihar': 184,
         'Model Town': 184,
         'Sadar Bazar': 92,
         'Civil Lines': 92,
         'Kotwali': 92,
         'Patel Nagar': 92,
         'Punjabi Bagh': 92,
         'Rajouri Garden': 92,
         'Kalkaji': 92,
         'Defence Colony': 92,
         'Preet Vihar': 184,
         'Gandhi Nagar': 184,
         'Vivek Vihar': 92,
         'Seelam Pur': 184,
         'Narela': 92,
         'Shahdara': 92,
         'Seema Puri': 92})

In [31]:
%%time
for i in range(0,1000):
    pd.Series(list(set([1,1,2,3,4,5,5,6,6,8]))).mean()

Wall time: 326 ms

In [32]:
%%time
for i in range(0,1000):
    sum(set([1,1,2,3,4,5,5,6,6,8]))/len(set([1,1,2,3,4,5,5,6,6,8]))

Wall time: 0 ns

In [46]:
temp = df[(df.BLOCK_NAME == 'Pune City') & (df.YEAR_OBS == i)]
print(f'{temp.STATE.values[0]}')

MS

In [53]:
df[(df.BLOCK_NAME == 'Ambegaon')]

,STATE,DISTRICT,BLOCK_NAME,LAT,LON,YEAR_OBS,Season,Depth
190854,MS,Pune,Ambegaon,18.902778,74.087500,2018,MONSOON,NaN
190865,MS,Pune,Ambegaon,19.058333,73.961111,2018,MONSOON,8.50
190870,MS,Pune,Ambegaon,18.976111,73.857500,2018,MONSOON,NaN
190883,MS,Pune,Ambegaon,19.066667,73.925000,2017,MONSOON,NaN
190905,MS,Pune,Ambegaon,18.902778,74.087500,2017,MONSOON,2.15
...,...,...,...,...,...,...,...,...
1208563,MS,Pune,Ambegaon,18.902778,74.087500,1997,PREMON,4.80
1208578,MS,Pune,Ambegaon,19.066667,73.833333,1996,PREMON,3.78
1208579,MS,Pune,Ambegaon,19.058333,73.961111,1996,PREMON,9.00
1208617,MS,Pune,Ambegaon,18.966667,73.966667,1996,PREMON,12.00
1208622,MS,Pune,Ambegaon,18.902778,74.087500,1996,PREMON,9.00

In [57]:
[lon for i in range(4)]

[18.490538194375, 18.490538194375, 18.490538194375, 18.490538194375]

In [ ]:
#DO NOT DELETE
print(f"{temp.STATE.values[0]} {temp.DISTRICT.values[0]} {temp.BLOCK_NAME.values[0]} {sum(set(temp.LAT))/len(temp)} {sum(set(temp.LON))/len(temp)} {temp.YEAR_OBS.values[0]} {'POMRB'} {temp[temp.Season == 'POMRB'].Depth.mean()}")
    print(f"{temp.STATE.values[0]} {temp.DISTRICT.values[0]} {temp.BLOCK_NAME.values[0]} {sum(set(temp.LAT))/len(temp)} {sum(set(temp.LON))/len(temp)} {temp.YEAR_OBS.values[0]} {'PREMON'} {temp[temp.Season == 'PREMON'].Depth.mean()}")
    print(f"{temp.STATE.values[0]} {temp.DISTRICT.values[0]} {temp.BLOCK_NAME.values[0]} {sum(set(temp.LAT))/len(temp)} {sum(set(temp.LON))/len(temp)} {temp.YEAR_OBS.values[0]} {'MONSOON'} {temp[temp.Season == 'MONSOON'].Depth.mean()}")
    print(f"{temp.STATE.values[0]} {temp.DISTRICT.values[0]} {temp.BLOCK_NAME.values[0]} {sum(set(temp.LAT))/len(temp)} {sum(set(temp.LON))/len(temp)} {temp.YEAR_OBS.values[0]} {'POMKH'} {temp[temp.Season == 'POMKH'].Depth.mean()}")

In [96]:
blockNameList = []
for col in districtCsvData.columns:
    if col not in ['Date', 'Season', '_', 'Unnamed'] and '_' not in col:
        blockNameList.append(col)
blockNameList

['Indapur',
 'Mulshi',
 'Purandhar',
 'Bhor',
 'Daund',
 'Khed',
 'Ambegaon',
 'Junnar',
 'Pune City',
 'Mawal',
 'Haveli',
 'Velhe',
 'Baramati',
 'Shirur']

In [104]:
blockNameList

['Pahar Ganj', 'Darya Ganj']

In [105]:
df[(df.STATE == 'DL') & (df.BLOCK_NAME == 'Pahar Ganj') & (df.YEAR_OBS == 1996)]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK_NAME, LAT, LON, YEAR_OBS, Season, Depth]
Index: []

In [106]:
districtCsvData.columns

Index(['Date', 'Season', 'Pahar Ganj', 'Darya Ganj', 'Pahar Ganj_Trend',
       'Pahar Ganj_SMA', 'Pahar Ganj_EWMA', 'Pahar Ganj_DES', 'Pahar Ganj_TES',
       'Pahar Ganj_ARIMA', 'Darya Ganj_Trend', 'Darya Ganj_SMA',
       'Darya Ganj_EWMA', 'Darya Ganj_DES', 'Darya Ganj_TES',
       'Darya Ganj_ARIMA'],
      dtype='object')

In [107]:
district

'Central'

In [150]:
lol = df[(df.STATE=='DL') & (df.DISTRICT == 'Central') & (df.BLOCK_NAME == 'Pahar Ganj') & (df.YEAR_OBS == 2012)]
sum(set(lol.LAT))/len(set(lol.LAT))

28.64277778